@import './base.css';

body {
  display: flex;
  background-image: url();
  background-size: cover;
  user-select: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}
